.search-button
    display: inline-block
    width: 30px
    height: 30px
    background-image: -webkit-linear-gradient(top, rgb(242, 242, 242) 0%, rgb(249, 236, 117) 20%, rgb(243, 206, 0) 70%)
    cursor: pointer
    &:hover
        background-color: rgb(243, 206, 0)
        background-image: none

.fa-search
    line-height: 30px

.movie-thumb
    width: 32px
    height: 44px